/* Error: expected "{".
 *     ,
 * 639 | >>>>>>> 6d34aab039ad91be2cbd44f742d4bc40639c29df
 *     |                                                 ^
 *     '
 *   css\style.scss 639:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 639 \2502  >>>>>>> 6d34aab039ad91be2cbd44f742d4bc40639c29df\d\a     \2502                                                  ^\a     \2575 \a   css\\style.scss 639:49  root stylesheet';
}
