<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDAZ | Colaboradores</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="scripts/app.js" defer></script>
    <script type="module" src="scripts/menu.js" defer></script>
</head>

<body>
    <header id="header-eeidaz">
        <nav>
            <div class="menu-toggle" id="menuToggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu" id="menu">
                <a href="/#">Home</a>
                <a href="/#projetos">Projetos</a>
                <a href="/#escolas">Escolas</a>
                <a href="/#equipe">Equipe</a>
                <a href="/#contato">Contato</a>
            </div>
        </nav>
    </header>
    <section class="colaboradorContainer">
        <div class="colaboradoresHeader">
            <h2>Conheça nossa equipe</h2>
            <p>"Uma ideia, quando é processada por duas ou mais mentes que tem a mesma intenção focada, se
                transforma em realidade numa velocidade incrível".
            </p>
            <span class="elder">
                Elder Formigoni
            </span>
        </div>
        <div class="cardsContainer">
            <span>
                <img src="../assets/equipe/00.webp" alt="">
                <div class="info">

                    <h3>Aline Ribeiro</h3>
                    <p>Professora</p>
                </div>
            </span>
            <span>
                <img src="../assets/equipe/01.webp" alt="">
                <div class="info">

                    <h3>Amanda Luiza</h3>
                    <p>Professora de Música</p>
                </div>

            </span>
            <span>
                <img src="../assets/equipe/02.webp" alt="">
                <div class="info">

                    <h3>Ana Caren</h3>
                    <p>Professora de Artes</p>
                </div>
            </span>
            <span>
                <img src="../assets/equipe/03.webp" alt="">
                <div class="info">

                    <h3>Ana Emilia Palmeira</h3>
                    <p>Assistente Social</p>
                </div>
            </span>
            <span>
                <img src="../assets/equipe/04.webp" alt="">
                <div class="info">

                    <h3>Anelise</h3>
                    <p>Auxiliar de Sala</p>
                </div>
            </span>
            <span>
                <img src="../assets/equipe/05.webp" alt="">
                <div class="info">

                    <h3>Beatriz Vasconcellos</h3>
                    <p>Professora</p>
                </div>
            </span>
            <span>
                <img src="../assets/equipe/06.webp" alt="">
                <div class="info">

                    <h3>Bruna Acunha</h3>
                    <p>Auxiliar de Sala</p>
                </div>
            </span>
            <span>
                <img src="../assets/equipe/07.webp" alt="">
                <div class="info">

                    <h3>Bruna Heinemann</h3>
                    <p>Vice Diretora</p>
                </div>
            </span>
            <span>
                <img src="../assets/equipe/08.webp" alt="">
                <div class="info">

                    <h3>Bruna Persh</h3>
                    <p>Auxiliar de sala </p>
                </div>
            </span>
        </div>
    </section>


</body>

</html>