<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EEFDAZ</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="module" src="scripts/menu.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header id="header-eeidaz">
        <nav>
            <div class="menu-toggle" id="menuToggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu" id="menu">
                <a href="/#">Home</a>
                <a href="/#projetos">Projetos</a>
                <a href="/#escolas">Escolas</a>
                <a href="/#equipe">Equipe</a>
                <a href="/#contato">Contato</a>
            </div>
        </nav>
    </header>
    <section id="section-eefdaz">
        <div>
            <img src="/assets/EEFDAZ.webp" alt="Escola de Educação Fundamental Dom Antônio Zattera - logo" srcset="">
            <h1>Escola de Educação Fundamental Dom Antônio Zattera</h1>
            <p>
                Após a criação da Escola de Educação Infantil em 2023, não tinha sentido abandonarmos todo o nosso
                trabalho, principalmente com os alunos do Pré B, que trilharam conosco um ano de adaptação ao turno
                integral onde se desenvolveram através de um ensino lúdico e integrado.
                Com muita dificuldade financeira, buscamos apoiadores, onde maioritariamente a Paróquia Senhor
                Ressuscitado no bairro Areal topou a missão de transformar o futuro através da Educação.
                É com muita alegria que apresentamos um pouco das expectativas para estre primeiro ano.
                </br>
                </br>
                Contato: eefundamentaldomantoniozattera@gmail.com
            </p>
        </div>
        <article>
            <div>
                <h3>Berçario 1</h3>
                <p>Nós professoras Milena e Natalia estamos felizes em fazer parte do primeiro contato escolar dos
                    nossos alunos. Pois o berçário 1 é a primeira etapa da educação básica e tem como objetivo a
                    promoção do desenvolvimento integral da criança. O ano letivo de 2024 inicia -se e com ele surgirão
                    novos desafios e descobertas.
                    Pretendemos fazer do ambiente escolar uma espaço acolhedor, respeitoso e afetuoso. Para que juntos
                    possamos crescer e evoluir a cada dia.</p>
            </div>
            <div>
                <img src="/assets/EEFDAZ_01.webp" alt="">
            </div>
        </article>

        <article>
            <div>
                <h3>Berçario 2</h3>
                <p>Nossa meta é que durante o ano de 2024, os alunos do b2 tenham um ambiente seguro e acolhedor para
                    que assim, os bebês possam se adaptar ao meio, permitindo-se fazer novas aprendizagens e descobertas
                    que contribuam para o seu pleno desenvolvimento físico, emocional e social.
                    * A criança é um ser que precisa de atenção, amor e estímulos para se desenvolver de forma
                    satisfatória.
                    Será um prazer acompanhar essa turminha este ano!
                    Prof: Maura, Natália, Bruna.</p>
            </div>
            <div>
                <img src="/assets/EEFDAZ_02.webp" alt="">
            </div>
        </article>

        <article>
            <div>
                <h3>Maternal 1</h3>
                <p> A cada início do ano letivo criamos muitas expectativas, desde de qual vai ser nossa turma até o
                    término do ano, o qual dissemos: "ufa, mais um ano vencido com sucesso".

                    Sabemos que no desenvolvimento do ser humano, a educação infantil ocupa um lugar fundamental, é a
                    fase primordial para a formação intelectual, emocional e social da criança, então, quanta
                    responsabilidade não é mesmo?

                    Como professora do maternal 1 espero continuar fazendo a diferença na vida de cada criança, assim
                    como foi ano passado ver a evolução dos pequenos. Tínhamos crianças que não sabiam pegar o lápis
                    para pintar e ao terminar o ano já sabiam pintar sem borrar o desenho, são coisas que não tem preço,
                    isso foi um simples exemplo.

                    Ouvir dos pais o quanto foi nítido a evolução dos nossos pequenos, é muito gratificante e espero que
                    nesse ano de 2024 eu possa seguir fazendo a diferença com muito carinho e muita responsabilidade,
                    que com certeza não é só as crianças que aprendem , nós aprendemos muito mais... Um abraço carinhoso
                    da prof. Carla.</p>
            </div>
            <div>
                <img src="/assets/EEFDAZ_03.webp" alt="">
            </div>
        </article>

        <article>
            <div>
                <h3>Maternal 2</h3>
                <p>Estamos ansiosas para esse ano de 2024.

                    Almejamos fortalecer laços afetivos e desenvolver habilidades socioeducacionais.

                    Por aqui, terá muita diversão aliada com a construção de conhecimento.

                    Afeto e amor também não irão faltar pois, entendemos que, um ambiente acolhedor é mais propício a
                    render bons frutos.

                    Para este ano, no Maternal 2, planejamos trabalhar de modo que venhamos a desenvolver a coordenação
                    motora e a corporeidade, proporcionar aos alunos interação com a literatura e contato com os
                    diferentes gêneros textuais.

                    Estamos entusiasmadas para vivenciarmos um lindo ano com nossas crianças.

                    Professoras Cassandra e Evelin</p>
            </div>
            <div>
                <img src="/assets/EEFDAZ_04.webp" alt="">
            </div>
        </article>
        
    </section>
</body>

</html>