<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EEFDAZ</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="module" src="scripts/menu.js" defer></script>
</head>

<body>
    <header id="header-eeidaz">
        <nav>
            <div class="menu-toggle" id="menuToggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu" id="menu">
                <a href="#">Home</a>
                <a href="#projetos">Projetos</a>
                <a href="#escolas">Escolas</a>
                <a href="#equipe">Equipe</a>
                <a href="#contato">Contato</a>
            </div>
        </nav>
    </header>

    <img src="/assets/EEFDAZ.webp" alt="Escola de Educação Fundamental Dom Antônio Zattera - logo" srcset="">
    <h1>Escola de Educação Fundamental Dom Antônio Zattera</h1>
    <p>Após a criação da Escola de Educação Infantil em 2023, não tinha sentido abandonarmos todo o nosso
        trabalho, principalmente com os alunos do Pré B, que trilharam conosco um ano de adaptação ao turno
        integral onde se desenvolveram através de um ensino lúdico e integrado.
        Com muita dificuldade financeira, buscamos apoiadores, onde maioritariamente a Paróquia Senhor
        Ressuscitado no bairro Areal topou a missão de transformar o futuro através da Educação.
        É com muita alegria que apresentamos um pouco das expectativas para estre primeiro ano. </p>
</body>

</html>