<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script type="module" src="scripts/menu.js" defer></script>

    <title>EEIDAZ</title>
</head>

<body>

    <header id="header-eeidaz">
        <nav>
            <div class="menu-toggle" id="menuToggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu" id="menu">
                <a href="#">Home</a>
                <a href="#projetos">Projetos</a>
                <a href="#escolas">Escolas</a>
                <a href="#equipe">Equipe</a>
                <a href="#contato">Contato</a>
            </div>
        </nav>

    </header>

    <section id="section-eeidaz">

        <img src="/assets/EEIDAZ.webp" alt="Escola de Educação Infantil Dom Antônio Zattera - logo" srcset="">
        <h1>Escola de Educação Infantil Dom Antônio Zattera</h1>
        <p>Criada em 2023 a Escola de Educação Infantil busca entregar aos alunos uma educação de qualidade, onde
            não somente as matérias são aprendidas, mas valores como a cooperação, empatia e respeito. Queremos que
            nossas crianças confiem no seu próprio potencial e se formem jovens com pensamento crítico, consciência
            social e a certeza que o amor ao próximo pode transformar o mundo! </p>
    </section>
</body>

</html>